registry=http://real-task-manager-7446cc5c.localhost:5173/proxy/npm/
node-linker=hoisted
package-import-method=copy
store-dir=.wasm-pm/store
cache-dir=.wasm-pm/cache
state-dir=.wasm-pm/state
network-concurrency=8
fetch-timeout=120000
fetch-retries=2
reporter=default
update-notifier=false